<nav class="pg-red">
  <div class="nav-wrapper">
    <a href="https://pioniergarage.de/" class="brand-logo">
      <img
        style="height: 50px; padding-top: 5px;"
        src="assets/img/pioniergarage_logo.png"
        alt="PionierGarage-Logo"
      />
    </a>
    <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a [routerLink]="['/carousel']"><i class="material-icons">view_carousel</i></a>
      </li>
      <li>
        <a [routerLink]="['/grid']"><i class="material-icons">view_module</i></a>
      </li>
    </ul> -->
  </div>
</nav>
