<div style="margin-bottom: 10px" class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s12">
        <mz-chip-input
          [placeholder]="'Search ...'"
          [secondaryPlaceholder]="' + Tag'"
          [(ngModel)]="searchChips"
          name="searchInput"
          (add)="onChipsAdded($event)"
          (delete)="onChipsDeleted($event)"
        >
        </mz-chip-input>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div *ngIf="persons | personFilterPipe: searchChips; let filteredPersons">
    <div *ngFor="let person of filteredPersons" class="col s12 m6 l4">
      <div class="card hoverable pg-card" [ngStyle]="getPersonStatus(person)">
        <div class="card-image pg-card-image">
          <img [src]="person.backgroundImgPath" />
          <a
            #openingElement
            class="btn-floating halfway-fab pg-red pg-btn hoverable activator"
          >
            <i class="material-icons">more_vert</i>
          </a>
        </div>
        <div class="user-image">
          <img [src]="person.userImgPath" alt="header-1" />
        </div>
        <div class="card-content">
          <span class="card-title center-align">{{ person.name }}</span>
          <span class="card-sub-title center-align grey-text">{{
            person.currentPGRole.name
          }}</span>
          <!-- <blockquote class="pg-red-blockquote blockquote-lighten-2">
            {{ person.description | slice: 0:140 }}
          </blockquote> -->
        </div>
        <div #cardReveal class="card-reveal">
          <span #closingElement class="card-title grey-text text-darken-4">
            {{ person.name }}
            <i class="material-icons right">close</i>
          </span>
          <ul>
            <li class="pg-card-subheading">
              <i class="material-icons">today</i>Mitglied seit
            </li>
            <li class="pg-card-content">
              {{ person.memberSince }}
            </li>
            <li class="list-separator"></li>
            <li class="pg-card-subheading">
              <i class="material-icons">supervisor_account</i>Bisherige
              Positionen in der PG
            </li>
            <li class="pg-card-content">
              <ul class="card-reveal-list">
                <li *ngFor="let role of person.pgRoles">{{ role.name }}</li>
              </ul>
            </li>
            <li class="list-separator"></li>
            <a
              *ngIf="person.email"
              [href]="'mailto:' + person.email"
              target="_blank"
            >
              <li style="color: rgba(0,0,0,0.87);" class="pg-card-subheading">
                <i class="material-icons">mail</i>Mail
              </li>
            </a>
            <a *ngIf="person.linkedIn" [href]="person.linkedIn" target="_blank">
              <li style="color: rgba(0,0,0,0.87);" class="pg-card-subheading">
                <i class="material-icons">account_box</i>LinkedIn
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div
      *ngIf="filteredPersons.length === 0"
      class="col s12 m12 center-align grey-text text-darken-1"
      style="padding-top: 50px"
    >
      <i class="large material-icons">highlight_off</i>
      <h4>something went wrong</h4>
    </div>
  </div>
</div>
