<form class="col s12">
  <div class="row" style="margin-top: 20px; margin-bottom: 0px;">
    <div class="col s12">
      <mz-chip-input
        [placeholder]="'Search ...'"
        [secondaryPlaceholder]="' + Tag'"
        [(ngModel)]="searchChips"
        name="searchInput"
        (add)="onChipsAdded($event)"
        (delete)="onChipsDeleted($event)"
      >
      </mz-chip-input>
    </div>
  </div>
</form>

<div class="row">
  <ng-container
    *ngIf="persons | personFilterPipe: searchChips; let filteredPersons"
  >
    <div *ngFor="let person of filteredPersons" class="col s12 m6 l4 xl3">
      <div class="card hoverable pg-card">
        <div class="pg-card-header" [ngStyle]="getPersonStatus(person)">
          <div class="pg-card-header-box">
            <div
              class="pg-header-img"
              [style.background-image]="'url(' + person.userImgPath + ')'"
            ></div>
            <div class="pg-header-box">
              <div class="pg-header-1">
                <span class="bold">{{ person.name.split(" ")[0] }}</span
                >&nbsp;{{ person.name.split(" ")[1] }}
              </div>
              <div class="pg-header-2">{{ person.currentPGRole.name }}</div>
              <div class="pg-header-social">
                <a
                  *ngIf="person.email"
                  [href]="'mailto:' + person.email"
                  target="_blank"
                >
                  <i class="material-icons">mail</i>
                </a>
                <a
                  *ngIf="person.linkedIn"
                  [href]="person.linkedIn"
                  target="_blank"
                >
                  <div class="svg-icon">
                    <img
                      src="assets/img/linkedin_logo.svg"
                      alt="LinkedIn-Logo"
                    />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-card-content">
          <ul class="pg-card-property-list">
            <li *ngIf="person.currentProjects">
              <div class="svg-icon">
                <img src="assets/img/start-up.svg" alt="Rocket-Icon" />
              </div>
              <div class="property-box">
                <div class="property-heading">Current Projects</div>
                <div class="property-content">
                  <ul>
                    <li
                      *ngFor="
                        let project of person.currentProjects;
                        let i = index
                      "
                    >
                      <ng-container *ngIf="i < 2">
                        <a
                          *ngIf="project.url; else projectName"
                          [href]="project.url"
                        >
                          {{ project.name }}
                        </a>
                        <ng-template #projectName>{{
                          project.name
                        }}</ng-template>
                      </ng-container>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li *ngIf="person.location">
              <i class="material-icons">location_on</i>
              <div class="property-box">
                <div class="property-heading">Location</div>
                <div class="property-content">{{ person.location }}</div>
              </div>
            </li>
            <li>
              <i class="material-icons">supervisor_account</i>
              <div class="property-box">
                <div class="property-heading">Previous Roles</div>
                <div class="property-content">
                  <ul>
                    <li *ngFor="let role of person.pgRoles; let i = index">
                      <ng-container *ngIf="i < 2">
                        {{ role.name }}
                      </ng-container>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li *ngIf="person.memberSince">
              <i class="material-icons">today</i>
              <div class="property-box">
                <div class="property-heading">Member Since</div>
                <div class="property-content">{{ person.memberSince }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      *ngIf="filteredPersons.length === 0"
      class="col s12 m12 center-align grey-text text-darken-1"
      style="padding-top: 50px"
    >
      <i class="large material-icons">highlight_off</i>
      <h4>something went wrong</h4>
    </div>
  </ng-container>
</div>
