.pg-card-image img {
  height: 200px;
  object-fit: cover;
}
.user-image {
  margin-top: -50px;
}
.user-image img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 4px solid #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateZ(100px);
  background-color: #fff;
  object-fit: cover;
}
.card-title {
  margin-bottom: 0px !important;
}
.card-sub-title {
  display: block;
  margin-bottom: 8px;
}
.card-content {
  padding: 12px;
}
.list-separator {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  margin: 5px 0;
}
.pg-card-subheading {
  font-weight: bold;
  display: flex;
  padding: 1rem 0rem;
}
.pg-card-subheading i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

.card-reveal-list li {
  list-style: disc inside;
}

/*********************/
/**** new pg card ****/
/*********************/
.pg-card {
  height: 500px;
  background: linear-gradient(90deg, #f2f2f2 0%, #ffffff 33%);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.pg-card-header {
  height: 180px;
  background: linear-gradient(90deg, #b31819 0%, rgba(179, 24, 25, 0.75) 100%);
  border-radius: 20px 20px 0px 50px;
  -moz-border-radius: 20px 20px 0px 50px;
  -webkit-border-radius: 20px 20px 0px 50px;

  .pg-card-header-box {
    height: 100%;
    padding: 40px 30px;

    .pg-header-img {
      width: 30%;
      height: 100%;
      float: left;
      border-radius: 25px;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .pg-header-box {
      width: 67%;
      padding: 10px 20px;
      height: 100%;
      float: left;

      .pg-header-1 {
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        margin-bottom: 6px;

        .bold {
          font-weight: bold;
        }
      }
      .pg-header-2 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 4px;
        color: rgba(255, 253, 253, 0.6);
      }
      .pg-header-social {
        color: #ffffff;

        i {
          float: left;
        }

        .linkedin-icon {
          height: 24px;
          width: 24px;
          padding: 3px;
          float: left;
          margin-left: 2px;
        }
      }
    }
  }
}
.pg-card-content {
  height: 320px;
}
