body {
  background-color: #fcfcfc;
}

/* pg color scheme*/
.pg-red {
  background-color: #b31918 !important;
}

.pg-red-text {
  color: #b31918 !important;
}

.pg-red.lighten-1 {
  background-color: #ec5341 !important;
}

.pg-red-text.text-lighten-1 {
  color: #ec5341 !important;
}

.pg-red.lighten-2 {
  background-color: #c95e5d !important;
}

.pg-red-text.text-lighten-2 {
  color: #c95e5d !important;
}
.pg-red-blockquote.blockquote-lighten-2 {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #c95e5d;
}

.pg-red.darken-1 {
  background-color: #7c0000 !important;
}

.pg-red-text.text-darken-1 {
  color: #7c0000 !important;
}

/**************************/
/** overwrite .container **/
/**************************/
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
