body {
  background-color: #FCFCFC;
}

/* pg color scheme*/
.pg-red {
  background-color: #B31918 !important;
}

.pg-red-text {
  color: #B31918 !important;
}

.pg-red.lighten-1 {
  background-color: #EC5341 !important;
}

.pg-red-text.text-lighten-1 {
  color: #EC5341 !important;
}

.pg-red.lighten-2 {
  background-color: #c95e5d !important;
}

.pg-red-text.text-lighten-2 {
  color: #c95e5d !important;
}
.pg-red-blockquote.blockquote-lighten-2 {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #c95e5d;
}

.pg-red.darken-1 {
  background-color: #7C0000 !important;
}

.pg-red-text.text-darken-1 {
  color: #7C0000 !important;
}
