<footer
  class="page-footer pg-footer">
  <div class="container">
    <div class="row">
      <div>
        <a href="https://pioniergarage.de/" target="_blank">
          <img
            style="height: 60px;"
            src="assets/img/pioniergarage_logo.png">
        </a>
        <p class="pg-footer-text" style="margin-top: 10px;">
          Diese App präsentiert alle Mitglieder der Hochschulgruppe PionierGarage. Falls du auch dargestellt werden möchtest oder bei sonstigen Fragen, wende dich bitte an
          <a href="mailto:it@pioniergarage.de" class="footer-link">it@pioniergarage.de</a>.
        </p>
        <p class="pg-footer-text">
          Entwickelt von Dominic Seitz (<a href="https://github.com/dome4" target="_blank">@dome4</a> ) und Dominik Doerner (<a href="https://github.com/DDoerner" target="_blank">@DDoerner</a> ).
        </p>
      </div>
    </div>
  </div>
  <div
    class="footer-copyright pg-footer-copyright">
    <div class="container pg-footer-text">
      <strong>Copyright © 2018</strong>
      <a href="https://pioniergarage.de/" target="_blank">PionierGarage e.V.</a>
      <span class="footer-separator">| </span>
      <a href="https://pioniergarage.de/impressum" target="_blank">Impressum</a>
      <span class="footer-separator">| </span>
      <a href="https://pioniergarage.de/datenschutz" target="_blank">Datenschutz</a>
    </div>
  </div>
</footer>

