/*
 * footer links
 */
 a {
  color: #888888;
}
a:hover {
  color: #fff;
}
.footer-separator {
  margin: 0 5px;
}

/*
 * footer background color
 */
.pg-footer {
  background-color: #262626 !important;
}
.pg-footer-copyright {
  background-color: #1b1b1b;
}
/*
 * footer text color
 */
.pg-footer-text {
  color: #888888;
}

